<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="Host" value="http://api.vip-33.ru"/>
    <add key="SyncDishUri" value="Dish/Sync"/>
    <add key="GetExportOrdersUri" value="Order/GetExportOrders"/>
    <add key="SetExportedOrdersUri" value="Order/SetExportedOrders"/>
    <add key="DishesSyncDelay" value="60000"/>
    <add key="OrdersSyncDelay" value="5000"/>
    <add key="Token" value="d3a71c3d-abd2-4833-9686-e5c8818c9054"/>
  </appSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="GARANTIA" connectionString="data source=localhost\SQLEXPRESS;initial catalog=GARANTIA;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>